[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# This script/template only handles one bug #%]
[% bug = bugs.0 %]

[% IF !header_done %]
  [% PROCESS "bug/show-header.html.tmpl" %]
  [% PROCESS global/header.html.tmpl
    yui3 = [ 'yui-base', 'oop','attribute-core', 'classnamemanager','event-custom-base','event-base', 'features', 'dom-core', 'dom-base', 'selector-native', 'selector', 'node-core', 'dom-style', 'node-base', 'escape', 'button-core', 'cssbutton', 'event-custom-complex', 'attribute-observable', 'attribute-extras', 'attribute-base', 'attribute-complex', 'base-core', 'base-observable', 'base-base', 'pluginhost-base', 'pluginhost-config', 'base-pluginhost', 'event-synthetic', 'event-focus', 'node-style', 'skin-sam-widget-base', 'widget-base', 'widget-htmlparser', 'widget-skin', 'event-delegate', 'node-event-delegate', 'widget-uievents',
    'button', 'array-extras', 'base-build', 'event-valuechange' , 'autocomplete-base', 'array-invoke', 'arraylist', 'json-parse', 'model', 'model-list', 'datatable-core', 'view',
    'datatable-head', 'datatable-body', 'datatable-table', 'skin-sam-datatable-base', 'datatable-base', 'intl-base', 'intl', 'lang/calendar-base', 'datatype-date-parse', 'lang/datatype-date-format', 'datatype-date-format', 'datatype-date-math', 'cssgrids', 'skin-sam-calendar-base',
    'calendar-base', 'plugin', 'node-pluginhost', 'dom-screen', 'node-screen', 'skin-sam-calendarnavigator', 'calendarnavigator', 'skin-sam-calendar', 'calendar', 'cookie' ]
   %]

[% END %]

[% IF nextbug %]
  <hr>
  <p>
    The next [% terms.bug %] in your list is [% terms.bug %]
    <a href="show_bug.cgi?id=[% bug.bug_id %]">[% bug.bug_id %]</a>:
  </p>
  <hr>
[% END %]

[% PROCESS bug/navigate.html.tmpl %]

[% PROCESS bug/edit.html.tmpl %]

<hr>

[% PROCESS bug/navigate.html.tmpl bottom_navigator => 1%]

<br>

[% PROCESS global/footer.html.tmpl %]
