[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # classification: Bugzilla::Classification object; If classifications
  #                         are enabled, then this is 
  #                         the currently selected classification
  #
  #%]

[% title = BLOCK %]Add Product[% END %]

[% PROCESS global/header.html.tmpl
  title = title
  style_urls = ['skins/standard/admin.css']
  javascript_urls = ['js/util.js', 'js/field.js']
  yui = [ 'autocomplete' ]
  yui3 = [ 'yui-base', 'oop','attribute-core', 'classnamemanager','event-custom-base','event-base', 'features', 'dom-core', 'dom-base', 'selector-native', 'selector', 'node-core', 'dom-style', 'node-base', 'escape', 'button-core', 'cssbutton', 'event-custom-complex', 'attribute-observable', 'attribute-extras', 'attribute-base', 'attribute-complex', 'base-core', 'base-observable', 'base-base', 'pluginhost-base', 'pluginhost-config', 'base-pluginhost', 'event-synthetic', 'event-focus', 'node-style', 'skin-sam-widget-base', 'widget-base', 'widget-htmlparser', 'widget-skin', 'event-delegate', 'node-event-delegate', 'widget-uievents',
    'button', 'array-extras', 'base-build','dataschema-base','jsonrpc-parse','json-stringify','dataschema-json','datasource-local','plugin','cache-base','datasource-cache','querystring-stringify-simple','io-base','io','io-xdr','io-queue', 'datasource-io','datasource-jsonschema','intl-base','intl','escape','array-extras','array-invoke','arraylist','model','model-list','event-base','features','dom-core','dom-base','selector-native', 'selector', 'node-core', 'dom-style', 'node-base', 'event-delegate', 'node-event-delegate','datatable-core', 'view','classnamemanager','datatable-body','datatype-number-format','lang/datatype-date-format','datatype-date-format,datatable-formatters', 'io-form','io-upload-iframe','datatable-head',
'datatable-table',
'attribute-complex',
'event-synthetic',
'event-focus',
'node-style','stylesheet',
'skin-sam-widget-base','color-  base',
'widget-base','widget-htmlparser','widget-skin','widget-uievents','skin-sam-datatable-base','datatable-base','datatable-datasource','event-valuechange' , 'autocomplete-base',
    'autocomplete-sources',
    'intl-base',
    'intl',
    'lang/autocomplete-list',
    'event-resize',
    'dom-screen',
    'node-screen',
    'selector-css2',
    'selector-css3',
    'node-style',
    'pluginhost-base',
    'pluginhost-config',
    'node-pluginhost',
    'shim-plugin',
    'attribute-complex',
    'base-pluginhost',
    'classnamemanager',
    'skin-sam-widget-base',
    'widget-base',
    'widget-htmlparser',
    'widget-skin',
    'event-delegate',
    'node-event-delegate',
    'widget-uievents',
    'widget-position',
    'widget-position-align',
    'querystring-stringify-simple',
    'io-base',
    'json-parse',
    'get',
    'jsonp',
    'jsonp-url',
    'yql',
    'yql-jsonp',
    'lang/autocomplete-list_en',
    'skin-sam-autocomplete-list',
    'autocomplete-list',
    'autocomplete-list-keys',
    'autocomplete-plugin', 'array-invoke', 'arraylist', 'json-parse', 'model', 'model-list', 'datatable-core', 'view',
    'datatable-head','datatable-message', 'datatable-body', 'datatable-table', 'skin-sam-datatable-base', 'datatable-base', 'intl-base', 'intl', 'lang/calendar-base', 'datatype-date-parse', 'lang/datatype-date-format', 'datatype-date-format', 'datatype-date-math', 'cssgrids', 'skin-sam-calendar-base', 'calendar-base', 'plugin', 'node-pluginhost', 'dom-screen', 'node-screen', 'skin-sam-calendarnavigator', 'calendarnavigator', 'skin-sam-calendar', 'calendar', 'cookie' ]
%]

[% DEFAULT
  product.is_active = 1,
  version = "unspecified",
  product.defaultmilestone = constants.DEFAULT_MILESTONE
  product.allows_unconfirmed = 1
%]

<form method="post" action="editproducts.cgi">
  <table id="admin_table_edit">

    [% PROCESS "admin/products/edit-common.html.tmpl" %]

    <tr>
      <th>Version:</th>
      <td><input size="20" maxlength="64" name="version" 
                value="[% version FILTER html %]" required>
      </td>
    </tr>
    <tr>
      <th>Create chart datasets for this product:</th>
      <td>
        <input type="checkbox" name="createseries" value="1" checked="checked">
      </td>
    </tr>

    <tr>
      <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="2">
        This product must have at least one component.
        You will be able to create additional components later:
      </td>
    </tr>

    [% PROCESS "admin/components/edit-common.html.tmpl" desc_name = "comp_desc" %]
  </table>

  <input type="submit" id="add-product" value="Add">
  <input type="hidden" name="action" value="new">
  <input type="hidden" name="token" value="[% token FILTER html %]">
  <input type="hidden" name="classification"
        value="[% classification.name FILTER html %]">
</form>

[% PROCESS "admin/products/footer.html.tmpl"
   no_add_product_link = 1 
   no_edit_product_link = 1 %]

[% PROCESS global/footer.html.tmpl %]
