[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # This template has no interface. However, to use it, you need to fulfill
  # the interfaces of the templates it contains.
  #%]

[% js_data = BLOCK %]
var queryform = "reportform"
[% END %]

[% PROCESS global/header.html.tmpl
  title = "Generate Tabular Report"
  onload = "doOnSelectProduct(0)"
  yui = [ 'autocomplete', 'calendar' ]
  yui3 = [ 'yui-base', 'oop','attribute-core', 'classnamemanager','event-custom-base','event-base', 'features', 'dom-core', 'dom-base', 'selector-native', 'selector', 'node-core', 'dom-style', 'node-base', 'escape', 'button-core', 'cssbutton', 'event-custom-complex', 'attribute-observable', 'attribute-extras', 'attribute-base', 'attribute-complex', 'base-core', 'base-observable', 'base-base', 'pluginhost-base', 'pluginhost-config', 'base-pluginhost', 'event-synthetic', 'event-focus', 'node-style', 'skin-sam-widget-base', 'widget-base', 'widget-htmlparser', 'widget-skin', 'event-delegate', 'node-event-delegate', 'widget-uievents',
    'button', 'array-extras', 'base-build','dataschema-base','jsonrpc-parse','json-stringify','dataschema-json','datasource-local','plugin','datatype-xml-parse','datatype-xml-format','dataschema-base','dataschema-xml','datasource-xmlschema', 'cache-base','datasource-cache','querystring-stringify-simple','io-base','io','io-xdr','io-queue', 'datasource-io','datasource-jsonschema','intl-base','intl','escape','array-extras','array-invoke','arraylist','model','model-list','event-base','features','dom-core','dom-base','selector-native', 'selector', 'node-core', 'dom-style', 'node-base', 'event-delegate', 'node-event-delegate','datatable-core', 'view','classnamemanager','datatable-body','datatype-number-format','lang/datatype-date-format','datatype-date-format,datatable-formatters', 'io-form','io-upload-iframe','datatable-head',
'datatable-table',
'attribute-complex',
'event-synthetic',
'event-focus',
'node-style','stylesheet',
'skin-sam-widget-base','color-  base',
'widget-base','widget-htmlparser','widget-skin','widget-uievents','skin-sam-datatable-base','datatable-base','datatable-datasource','event-valuechange' , 'autocomplete-base',
    'autocomplete-sources',
    'intl-base',
    'intl',
    'lang/autocomplete-list',
    'event-resize',
    'dom-screen',
    'node-screen',
    'selector-css2',
    'selector-css3',
    'node-style',
    'pluginhost-base',
    'pluginhost-config',
    'node-pluginhost',
    'shim-plugin',
    'attribute-complex',
    'base-pluginhost',
    'classnamemanager',
    'skin-sam-widget-base',
    'widget-base',
    'widget-htmlparser',
    'widget-skin',
    'event-delegate',
    'node-event-delegate',
    'widget-uievents',
    'widget-position',
    'widget-position-align',
    'querystring-stringify-simple',
    'io-base',
    'json-parse',
    'get',
    'jsonp',
    'jsonp-url',
    'yql',
    'yql-jsonp',
    'lang/autocomplete-list_en',
    'skin-sam-autocomplete-list',
    'autocomplete-list',
    'autocomplete-list-keys',
    'autocomplete-plugin', 'array-invoke', 'arraylist', 'json-parse', 'model', 'model-list', 'datatable-core', 'view',
    'datatable-head','datatable-message', 'datatable-body', 'datatable-table', 'skin-sam-datatable-base', 'datatable-base', 'intl-base', 'intl', 'lang/calendar-base', 'datatype-date-parse', 'lang/datatype-date-format', 'datatype-date-format', 'datatype-date-math', 'cssgrids', 'skin-sam-calendar-base', 'calendar-base', 'plugin', 'node-pluginhost', 'dom-screen', 'node-screen', 'skin-sam-calendarnavigator', 'calendarnavigator', 'skin-sam-calendar', 'calendar', 'cookie' ]
  javascript = js_data
  javascript_urls = [ "js/yui3/yui/yui-min.js", "js/util.js", "js/TUI.js", "js/field.js" ]
  style_urls = ['skins/standard/buglist.css']
  doc_section = "using.html#reports"
%]

[% PROCESS "search/search-report-select.html.tmpl" %]

<p>
  Choose one or more fields as your axes, and then refine your set of 
  [% terms.bugs %] using the rest of the form.
</p>

[% button_name = "Generate Report" %]

<form method="get" action="report.cgi" name="reportform" id="reportform">
  <table id="tabular_reports_menu">
    <tr>
      <th></th>
      <th id="reports_menu_horizontal_axis">
        Horizontal Axis:<br>
        [% PROCESS select name = 'x_axis_field' %]
      </th>
    </tr>

    <tr>
      <th id="reports_menu_vertical_axis">
        Vertical Axis:<br>
        [% PROCESS select name = 'y_axis_field' %]
      </th>
      <th id="reports_menu_multiple_tables">
        Multiple Tables:<br>
        [% PROCESS select name = 'z_axis_field' %]
      </th>
    </tr>
  </table>

  <hr>

  [% PROCESS search/form.html.tmpl %]

  [% PROCESS "search/boolean-charts.html.tmpl" %]

  <div id="knob">
    <input type="submit" id="[% button_name FILTER css_class_quote %]"
         value="[% button_name FILTER html %]">
    <input type="hidden" name="format" value="table">
    <input type="hidden" name="action" value="wrap">
  </div>
</form>

[% PROCESS global/footer.html.tmpl %]
